.navbar-main {
  background-color: #111;
}
.navbar-main a {
  text-shadow: none;
}
.book-number {
  background-color: transparent;
}

.main {
  margin-top: 70px;
  padding-top: 50px;
  margin-bottom: 50px;
}
.title {
  font-size: 32px;
  margin-bottom: 25px;
  margin-top: 0;
  font-weight: normal;
}
.summary {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 30px;
}
#luisImage {
  background: url("../images/luis.jpg") no-repeat center center;
  background-size: contain;
}
.founder-image {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #777;
  margin-bottom: 15px;
}
.founder-name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: normal;
}
.founder-title {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  font-size: 17px;
  font-weight: normal;
}
.founder-description {
  font-size: 16px;
  margin: 0;
}

.contact-header {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 24px;
}
.contact ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 16px;
}
.contact li {
  margin-bottom: 4px;
}
