.top-banner {
  padding: 60px 0;
  background-color: #ddd;
  position: relative;
  margin-bottom: 30px;
  height: 300px;
  cursor: pointer;
}

.box-row {
  padding: 10px 20px;
}
.price {
  font-size: 24px;
  border-bottom: 1px solid #dce0e0;
}
.editables-header {
  margin-top: 0;
  margin-bottom: 8px;
}
.editable {
  padding: 9px 6px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  color: #565a5c;
  font-size: 13px;
  background-color: #fff;
}
.payment-link {
  color: inherit;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 10px;
  display: block;
  text-align: center;
  font-size: 16px;
}
.payment-link:hover {
  color: inherit;
  text-decoration: none;
}
.doubts {
  border-top: 1px solid #dce0e0;
  font-size: 16px;
  text-align: center;
}

.section {
  border-top: 1px solid #dce0e0;
}
.section-first {
  border-top: none;
}

#hardBox {
  border: 1px solid #dce0e0;
}
.stick {
  position:fixed;
  top:51px;
  margin-top: 20px;
}

#picturesContainer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
}
#picturesClose {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 2001;
}
.picture {
  position: absolute;
  background-color: #ddd;
  width: 400px;
  height: 400px;
  top: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.picture-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10%;
  width: 80%;
}
.picture-left-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  left: 0;
  cursor: pointer;
}
.picture-right-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  right: 0;
  cursor: pointer;
}
.picture-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 10px;
}
.no-overflow {
  overflow: hidden;
}
