html, body { height: 100%; width: 100%; margin: 0; }
body {
  font-family: 'Raleway', sans-serif;
}
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}


.navbar {
  padding: 15px 0;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar li {
  float: left;
}
.navbar li * {
  display: block;
  text-align: center;
}
.navbar a {
  color: inherit;
  text-decoration: none;
}
.navbar-left {
  float: left;
}
.navbar-right {
  float: right;
}

/*** Header ***/
.navbar-main {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  color: #fff;
  height: 70px;
}
.navbar-main li * {
  line-height: 40px;
  font-weight: bold;
}
.navbar-main a {
  padding: 0 20px;
  text-shadow: 1px 1px 10px #000;
}
.navbar-main a i {
  font-weight: normal;
}
a.logo-link {
  padding-left: 0;
}
a:hover.logo-link  {
  background-color: transparent;
}
.logo {
  height: 40px;
}
.book-number {
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
.fa-2x {
  font-size: 1.4em;
}


/*** Footer ***/
.footer {
  background: #eeeeee;
  color: #777;
  margin-top: 90px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.footer ul {
  list-style-type: none;
  padding: 0;
}
.footer li {
  margin-bottom: 10px;
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer p {
  text-align: center;
  margin: 0;
}
.footer .social {
  padding: 10px;
}
.footer p.disclaimer {
  margin-top: 20px;
}
