html, body { height: 100%; width: 100%; margin: 0; }
body {
  font-family: 'Raleway', sans-serif;
}


/*** Bootstrap ***/
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}


/*** Bootstrap Navbar ***/
/* Navbar */
.navbar {
  border-radius: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  color: #fff;
  height: 70px;
}
.navbar-default {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #fff;
}
/* Navbar when collapsed */
.navbar-header {
  height: 70px;
}
/* Navbar elements */
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>p {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #ddd;
}
.navbar-nav>li>p {
  padding: 10px 15px;
  line-height: 20px;
  margin: 0;
}
/* Collapsed section */
.navbar-default .navbar-collapse {
  background-color: rgba(0, 0, 0, 0.3);
}
/* Button bar icons */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
@media (min-width: 768px) {
  .navbar-nav>li>a, .navbar-nav>li>p {
    line-height: 40px;
  }
  .navbar-default .navbar-nav>li>a {
    text-shadow: 1px 1px 10px #000;
  }
  .navbar-default .navbar-collapse {
    background-color: transparent;
  }
}
/* Navbar */
.logo {
  height: 40px;
}
.fa-2x {
  font-size: 1.4em;
}
@media (min-width: 768px) {
  /* Book number */
  .navbar-nav>li>p.book-number {
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    margin: 15px;
  }
}


/*** Footer ***/
.footer {
  background: #eeeeee;
  color: #777;
  margin-top: 90px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.footer ul {
  list-style-type: none;
  padding: 0;
}
.footer li {
  margin-bottom: 10px;
}
.footer a {
  color: inherit;
  text-decoration: none;
}
.footer p {
  text-align: center;
  margin: 0;
}
.footer .social {
  padding: 10px;
}
.footer p.disclaimer {
  margin-top: 20px;
}
