html, body { height: 100%; width: 100%; margin: 0; }
.navbar {
  padding: 15px 0;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar li {
  float: left;
}
.navbar li * {
  display: block;
  text-align: center;
}
.navbar-left {
  float: left;
}
.navbar-right {
  float: right;
}

/*** Header ***/
.navbar-main {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  color: #fff;
  height: 70px;
}
.navbar-main li * {
  line-height: 40px;
}
.logo {
  height: 40px;
}
.book-number {
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}


/*** Footer ***/
.footer {
  background: #eeeeee;
  padding: 20px 0;
  color: #777;
  text-align: center;
  margin-top: 90px;
}
