.top-banner {
  text-align: center;
}
.top-banner a {
  color: inherit;
  text-decoration: none;
}

#datepicker {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
  font-size: 1.5em;

  margin-bottom: 30px;
}

.experience-col {
  margin-bottom: 20px;
}
.experience-col a {
  color: inherit;
}
.experience {
  background-color: #ddd;
  height: 250px;
}
.experience-description {
  padding: 10px;
}
.experience-description p {
  margin: 0;
}
