.top-banner {
  text-align: center;
}
.top-banner a {
  color: inherit;
  text-decoration: none;
}

#datepicker {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
  font-size: 1.5em;

  margin-bottom: 30px;
}

.experience-col {
  margin-bottom: 20px;
}
.experience-col a {
  color: inherit;
}
.experience {
  background-color: #ddd;
  height: 250px;
  position: relative;
}
.experience-price {
  background-color: rgba(60,63,64,0.9);
  padding: 7px 10px;
  color: #fff;
  font-size: 16px;
  position: absolute;
  bottom: 40px;
}
.experience-name {
  margin-bottom: 0;
  padding-left: 10px;
  font-size: 16px;
}
.experience-location {
  margin-top: 0;
  padding-left: 10px;
}
.experience-location a {
  text-decoration: none;
}
