{% extends "app/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'app/stylesheets/about.css' %}" />
{% endblock %}

{% block main_content %}

<div class="container main">
  <h1 class="title">Nosotros</h1>
  <div class="summary">
    <p>De visita en México en 2015, Pierre y Michael descubrieron lugares escondidos, y actividades que muchos mexicanos no conocen, llegando a la conclusión de que México es un maravilloso mundo por conocer.</p>
    <p>La misión de GoOut es hacerte descubrir México, y disfrutar de su belleza, de una manera única, en compañía de tus familiares y amigos. GoOut quiere que crees memorias involvidables que duren para siempre.</p>
    <p>GoOut es una plataforma de experiencias para grupos, en las categorías de Aventura de 1 día, Viajes de 2 días o más, y Gastronomía. Las experiencias están diseñadas para la familia, organizaciones privadas, escuelas y grupos de amigos que quieran vivir como un #GoOuter. Además, ofrecemos paquetes de Team Building personalizados para empresas</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div id="pierreImage" class="founder-image"></div>
      <h2 class="founder-name">Pierre Verstraete</h2>
      <h3 class="founder-title">Co-fundador</h3>
      <p class="founder-description">Pierre es de Lille, Francia. Estudió en ESSEC Business School en Paris, en la Universidad Ramon Llull de Barcelona y en el Tec de Monterrey en Guadalajara. Tiene experiencia en ventas y operaciones en varias empresas como Decathlon y el startup Happytal. Sus pasiones son correr, tocar la guitarra y viajar.</p>
    </div>
    <div class="col-md-4">
      <div id="mikeImage" class="founder-image"></div>
      <h2 class="founder-name">Michael Aring</h2>
      <h3 class="founder-title">Co-fundador</h3>
      <p class="founder-description">Michael ha vivido en Alaska, Holanda y Alemania, antes de mudarse a México. Estudió en Maastricht University y el Tec de Monterrey. Tiene experiencia en empresas como EY y SwingBy. Le gusta leer libros de emprendimiento y economía, y tratar de encontrar el mejor café del mundo.</p>
    </div>
    <div class="col-md-4">
      <div id="luisImage" class="founder-image"></div>
      <h2 class="founder-name">Luis Galeana</h2>
      <h3 class="founder-title">CTO</h3>
      <p class="founder-description">Luis Galeana es un Ingeniero de Software de México. Tiene años de experiencia trabajando con tecnologías emergentes en Oracle y el Tec de Monterrey. Sus pasiones son la Inteligencia Artificial, los startups de tecnología, viajar y la cerveza artesanal.</p>
    </div>
  </div>
</div>

<div class="container contact">
   <h1 class="title">Contacto</h1> 
   
   <div class="row">
    <div class="col-md-6">
      <p class="contact-header">Medios</p>
      <ul>
        <li>contact@goout.mx</li>
        <li>333 359 7080</li>
        <li>www.fb.com/goout.mx</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p class="contact-header">Oficinas</p>
      <ul>
        <li>Av Chapultepec Sur 284-103</li>
        <li>Colonia Americana</li>
        <li>44160 Guadalajara, Jal.</li>
      </ul>
    </div>
   </div>
</div>

{% endblock %}
