{% extends "app/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'app/stylesheets/about.css' %}" />
{% endblock %}

{% block main_content %}

<div class="container main">
  <h1 class="title">Nosotros</h1>
  <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae dui feugiat, tincidunt libero a, sollicitudin sapien. Ut et porttitor nunc. Vivamus ultrices risus nisl, dapibus dapibus orci hendrerit non. Proin vitae metus molestie, sodales mauris eu, molestie nibh. Cras venenatis cursus diam eu semper. Phasellus augue eros, ornare ut tempus in, vulputate at ex. Nullam quis magna purus. Proin egestas rutrum felis, suscipit imperdiet justo scelerisque placerat. Donec id lacus sit amet dui eleifend accumsan. Nam risus tortor, commodo sed blandit pellentesque, molestie sit amet turpis. Donec tincidunt eget augue eu consectetur. Vestibulum bibendum est eget ipsum finibus, sed egestas nulla rutrum.</p>

  <div class="row">
    <div class="col-md-4">
      <div class="founder-image"></div>
      <h2 class="founder-name">Pierre Verstraete</h2>
      <h3 class="founder-title">Founder & Enculé</h3>
      <p class="founder-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis dolor sit amet consequat molestie. Proin pulvinar, elit eu imperdiet blandit, ante arcu laoreet lacus, nec ullamcorper nulla risus in lorem. Integer luctus, enim ac sodales pulvinar, risus odio finibus elit, nec dapibus ante velit nec dui. Nunc enim velit, gravida non efficitur eget, fermentum ut augue. Integer ac condimentum velit. Praesent consequat laoreet fringilla. Duis in bibendum elit, ut venenatis justo.</p>
    </div>
    <div class="col-md-4">
      <div class="founder-image"></div>
      <h2 class="founder-name">Michael Aring</h2>
      <h3 class="founder-title">Founder & Enculé Zwei</h3>
      <p class="founder-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis dolor sit amet consequat molestie. Proin pulvinar, elit eu imperdiet blandit, ante arcu laoreet lacus, nec ullamcorper nulla risus in lorem. Integer luctus, enim ac sodales pulvinar, risus odio finibus elit, nec dapibus ante velit nec dui. Nunc enim velit, gravida non efficitur eget, fermentum ut augue. Integer ac condimentum velit. Praesent consequat laoreet fringilla. Duis in bibendum elit, ut venenatis justo.</p>
    </div>
    <div class="col-md-4">
      <div class="founder-image"></div>
      <h2 class="founder-name">Luis Galeana</h2>
      <h3 class="founder-title">CTO & Zero Enculé</h3>
      <p class="founder-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis dolor sit amet consequat molestie. Proin pulvinar, elit eu imperdiet blandit, ante arcu laoreet lacus, nec ullamcorper nulla risus in lorem. Integer luctus, enim ac sodales pulvinar, risus odio finibus elit, nec dapibus ante velit nec dui. Nunc enim velit, gravida non efficitur eget, fermentum ut augue. Integer ac condimentum velit. Praesent consequat laoreet fringilla. Duis in bibendum elit, ut venenatis justo.</p>
    </div>
  </div>
</div>

<div class="container contact">
   <h1 class="title">Contacto</h1> 
   
   <div class="row">
    <div class="col-md-6">
      <p class="contact-header">Medios</p>
      <ul>
        <li>contact@goout.mx</li>
        <li>331 255 2106</li>
        <li>www.fb.com/goout.mx</li>
      </ul>
    </div>
    <div class="col-md-6">
      <p class="contact-header">Oficinas</p>
      <ul>
        <li>Av Chapultepec Sur 284-103</li>
        <li>Colonia Americana</li>
        <li>44160 Guadalajara, Jal.</li>
      </ul>
    </div>
   </div>
</div>

{% endblock %}
