{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Go Out</title>
  <link rel="stylesheet" type="text/css" href="{% static 'app/stylesheets/bootstrap.min.css' %}" />
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'app/stylesheets/font-awesome.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'app/stylesheets/general.css' %}" />
  {% block stylesheets %}
  {% endblock %}
</head>
<body>

  {% include "app/header.html" %}

  <script type="text/javascript" src="{% static 'app/javascripts/jquery-2.2.0.min.js' %}" ></script>

  {% block main_content %}
  {% endblock %}

  {% include "app/footer.html" %}
</body>
</html>
