{% extends "app/base.html" %}

{% load staticfiles filters %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'app/stylesheets/detail.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/jquery-ui-1.11.4.custom/jquery-ui.min.css' %}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
{% endblock %}

{% block main_content %}
<div id="mainPicture" class="top-banner container-fluid">
  <div class="row">
    <div id="controlLeft" class="col-xs-2 col-control"><i class="fa fa-angle-left fa-5x"></i></div>
    <div id="controlRight" class="col-xs-2 col-xs-offset-8 col-control"><i class="fa fa-angle-right fa-5x"></i></div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-8 main">
      <div class="section section-first">
        <div class="experience-name">{{experience.name}}</div>
        <p class="experience-info">
          {% if experience.subheader %}
            <span>{{experience.subheader}}</span>
          {% endif %}
          <span class="experience-duration">{{experience.location}}</span>
          {% if experience.duration < 24 %}
            <span class="experience-duration">Duración: {{experience.duration}} horas</span>
          {% else %}
            <span class="experience-duration">Duración: {{experience.duration|by:24}} días</span>
          {% endif %}
        </p>
        <div class="hard-box-hidden">
          {% include "app/hard_box.html" %}
        </div>

        {% for paragraph in experience.description %}
          <p>{{paragraph}}</p>
        {% endfor %}
      </div>

      {% if experience.included %}
        <div class="row section">
          <div class="col-md-2">
            <p><strong>Incluído</strong></p>
          </div>
          <div class="col-md-10 included-content">
            {% for included in experience.included %}
              {% if forloop.counter0|divisibleby:2 %}
                <div class="row">
              {% endif %}
              <div class="col-md-6">
                <img class="included-icon" src="{% static 'app/images/included/' %}{{included}}.png"> <span>{{included}}</span>
              </div>
              {% if forloop.counter|divisibleby:2 or forloop.last %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if experience.requirements %}
        <div class="row section">
          <div class="col-md-2">
            <p><strong>Requisitos</strong></p>
          </div>
          <div class="col-md-10">
            <ul>
              {% for requirement in experience.requirements %}
                <li>{{requirement}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {% if experience.gear %}
        <div class="row section">
          <div class="col-md-2">
            <p><strong>Qué traer</strong></p>
          </div>
          <div class="col-md-10">
            <ul>
              {% for gear in experience.gear %}
                <li>{{gear}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      <div class="row section">
        <div class="col-md-2">
          <p><strong>Adicional</strong></p>
        </div>
        <div class="col-md-10">
          <ul>
            {% for additional in experience.additional %}
              <li>{{additional}}</li>
            {% endfor %}
            <li class="last-addition">Ofrecemos transporte a precio preferencial en grupos mayores a 10 personas</li>
            <li class="last-addition">¿Quieres personalizar tu paquete con otras experiencias? ¡Márcanos ahora!</li>
          </ul>
        </div>
      </div>

      {% if experience.video %}
        <div class="video-wrapper">
          <iframe class="experience-video" src="{{experience.video}}" width="640" height="480"></iframe>
        </div>
      {% endif %}
    </div>
    <div class="col-md-4">
      <div id="hardBox">
        {% include "app/hard_box.html" %}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'app/jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
<script>
  var imgUrl = "https://dp95gqg0hgx2o.cloudfront.net";
  var availabilityUrl = "{% url 'experience_availability' experience.id %}";
  var experienceImgs = JSON.parse("{{experience.images|escapejs}}");
  var payment = "{% url 'payment' experience.id %}";
  var price = {{experience.price}};
  var people = {{experience.people}};
  var experiencePrices = $.map(JSON.parse("{{experience.experience_prices|escapejs}}"), function(price, i) { return parseFloat(price); });
</script>
<script type="text/javascript" src="{% static 'app/javascripts/util.js' %}"></script>
<script type="text/javascript" src="{% static 'app/javascripts/price-util.js' %}"></script>
<script type="text/javascript" src="{% static 'app/javascripts/detail.js' %}"></script>
{% endblock %}
