{% extends "app/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'app/stylesheets/detail.css' %}" />
{% endblock %}

{% block main_content %}
<div id="mainPicture" class="top-banner">
  
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="section section-first">
        <h1>{{experience.name}}</h1>
        {% for paragraph in experience.description %}
          <p>{{paragraph}}</p>
        {% endfor %}
      </div>

      {% if experience.included %}
        <div class="row section">
          <div class="col-md-2">
            <p><strong>Incluído</strong></p>
          </div>
          <div class="col-md-10">
            <ul>
              {% for included in experience.included %}
                <li>{{included}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {% if experience.required %}
        <div class="row section">
          <div class="col-md-2">
            <p><strong>Requisitos</strong></p>
          </div>
          <div class="col-md-10">
            <ul>
              {% for requirement in experience.required %}
                <li>{{requirement}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {% if experience.additional %}
        <div class="row section">
          <div class="col-md-2">
            <p><strong>Adicional</strong></p>
          </div>
          <div class="col-md-10">
            <ul>
              {% for additional in experience.additional %}
                <li>{{additional}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      {% if experience.gear %}
        <div class="row section">
          <div class="col-md-2">
            <p><strong>Equipo</strong></p>
          </div>
          <div class="col-md-10">
            <ul>
              {% for gear in experience.gear %}
                <li>{{gear}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="col-md-4">
      <div id="hardBox">
        <div class="price box-row">$ {{experience.price}}</div>
        <div class="row box-row">
          <div class="col-xs-8">
            <p class="editables-header">Fecha</p>
            <div class="editable">Sábado 20 Febrero 2016</div>
          </div>
          <div class="col-xs-4">
            <p class="editables-header">Personas</p>
            <select class="editable">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div class="box-row">
          <strong><a class="payment-link" href="{% url 'payment' experience.id %}">Reservar</a></strong>
        </div>
        <div class="box-row doubts"><strong>¿Dudas?</strong> 333 359 7080</div>
      </div>
    </div>
  </div>
</div>

<div id="picturesContainer" class="hidden">
  <button id="picturesClose">Close</button>
  <div class="picture-left-arrow">
    <span class="picture-arrow">Previous</span>
  </div>
  <div class="picture-container">
    <div class="picture"></div>
  </div>
  <div class="picture-right-arrow">
    <span class="picture-arrow">Next</span>
  </div>
</div>

<script type="text/javascript" src="{% static 'app/javascripts/detail.js' %}"></script>
{% endblock %}
