{% load staticfiles %}

<div class="navbar navbar-main">
  <div class="container-fluid">
    <ul class="navbar-left">
      <li><a class="logo-link" href="/"><img class="logo" src="{% static 'app/images/logo.png' %}"></a></li>
      <li><a class="border-right border-left"href="/team-building">Team Building</a></li>
      <!-- <li><a href="/">Home</a></li> -->
    </ul>

    <ul class="navbar-right">
      <li><a class="border-left" href="/about">Nosotros</a></li>
      <li><span class="book-number">Reservar 333 359 7080</span></li>
    </ul>
  </div>
</div>
