{% extends "app/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/stylesheets/index.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'app/jquery-ui-1.11.4.custom/jquery-ui.min.css' %}">
{% endblock %}

{% block main_content %}

<div class="top-banner">
  <a id="bannerLink" class="banner-link fill" href="{% url 'detail' 91 %}?date=2016-3-26"></a>
  <div class="banner-content">
    <p class="header">Nevado de Colima</p>
    <p class="sub-header">Sábado 26 de Marzo</p>
    <button class="call-to-action">Ver Experiencia</button>
  </div>
</div>

<div id="experiences">
  <div class="navbar-exp">
    <div class="container-fluid">
      <ul class="navbar-exp-left">
        <li><span class="navbar-exp-title">Experiencias</span></li>
      </ul>
  
      <ul class="navbar-exp-right">
        <li>
          <p class="date-header">Escoge una fecha</p>
          <input type="text" id="datepicker" readonly>
        </li>
      </ul>
    </div>
  </div>

  <div id="experiencesContainer" class="container-fluid"></div>
</div>

<script type="text/javascript" src="{% static 'app/jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
<script>
  var experiencesUrl = "{% url 'experiences_json' %}";
  var experienceUrl = "{% url 'detail' experience_id=123 %}";
  var experienceHtml = "{% static 'app/html/experience.html' %}" + "?hola";
  var experienceImg = "{% static 'app/images/name/0.jpg' %}" + "?hola";
</script>
<script type="text/javascript" src="{% static 'app/javascripts/util.js' %}"></script>
<script type="text/javascript" src="{% static 'app/javascripts/index.js' %}"></script>

{% endblock %}
