{% extends "app/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/stylesheets/index.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'app/jquery-ui-1.11.4.custom/jquery-ui.min.css' %}">
{% endblock %}

{% block main_content %}

<div class="hero">
  <video autoplay preload="auto" muted loop class="video-hero" src="{% static 'app/videos/home.mp4' %}"></video>
  <div class="hero-content">
    <p class="header">¡HAZ MEMORIAS INCREÍBLES!</p>
    <button class="call-to-action">Ver Experiencias</button>
  </div>
  <div id="bannerLink" class="fill"></div>
</div>

<div id="experiences">
  <div class="navbar-exp">
    <div class="container-fluid">
      <ul class="navbar-exp-left">
        <li><span class="navbar-exp-element selected">Aventura 1 día</span></li>
        <li><span class="navbar-exp-element">Aventura 2 días</span></li>
        <li><span class="navbar-exp-element">Gastronomía</span></li>
      </ul>
    </div>
  </div>

  <div id="experiencesContainer" class="container-fluid"></div>
</div>

<script type="text/javascript" src="{% static 'app/jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
<script>
  var experiencesUrl = "{% url 'experiences_json' %}";
  var experienceUrl = "{% url 'detail' experience_id=123 %}";
  var experienceHtml = "{% static 'app/html/experience.html' %}" + "?hola";
</script>
<script type="text/javascript" src="{% static 'app/javascripts/util.js' %}"></script>
<script type="text/javascript" src="{% static 'app/javascripts/index.js' %}"></script>

{% endblock %}
