{% extends "app/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/stylesheets/index.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'app/jquery-ui-1.11.4.custom/jquery-ui.min.css' %}">
{% endblock %}

{% block main_content %}

<div class="jumbotron top-banner">
  <a href="#experiences">
    <h2>!Haz memorias increíbles!</h2>
    <h3>Experiencias de aventura en Jalisco</h3>
    <button>Ver Experiencias</button>
  </a>
</div>

<div id="experiences" class="container-fluid">
  <input type="text" id="datepicker">

  {% for experience in experiences %}
    {% if forloop.counter0|divisibleby:4 %}
      <div class="row">
    {% endif %}
    <div class="col-md-3 experience-col">
      <a href="{% url 'detail' experience.id %}">
        <div class="experience">
          
        </div>
        <div class="experience-description">
          <p>{{experience.name}}</p>
        </div>
      </a>
    </div>
    {% if forloop.counter|divisibleby:4 or forloop.last %}
      </div>
    {% endif %}
  {% endfor %}
</div>

<script type="text/javascript" src="{% static 'app/jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
<script>
  $(function() {
    var dateInput = $("#datepicker");
    dateInput.datepicker({
      dateFormat: "dd M yy" 
    });

    var today = new Date();
    var startDate = new Date();
    startDate.setDate(today.getDate() + (6 - today.getDay()));
    dateInput.datepicker("setDate", startDate);
  });
</script>

{% endblock %}
