{% extends "app/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'app/stylesheets/payment.css' %}" />
{% endblock %}

{% block main_content %}
<div class="container main">
  <div class="row">

    <div class="col-md-5">
      <div class="summary-panel">
        <div class="summary-section">
          <h1 class="summary-title">{{experience.name}}</h1>
          <div class="summary-info">{{experience.location}}</div>
        </div>
        <div class="summary-section date-section">
          <div id="date" class="summary-info float-right"></div>
          <div class="summary-info">Fecha</div>
        </div>
        <div class="summary-section">
          <div id="people" class="summary-info float-right"></div>
          <div class="summary-info">No. de Personas</div>
        </div>
        <div class="summary-section price-section">
          <div id="price" class="float-right"></div>
          <div>Total</div>
        </div>
      </div>

      <div class="payment-explanation panel">
        <h1 class="title">Cómo funciona</h1>
      </div>
    </div>

    <div class="col-md-6 col-md-offset-1">
      <div class="panel">
        <h1 class="title">Pago</h1>

        <form action="{% url 'process_payment' experience.id %}" method="POST" id="card-form">
          {% csrf_token %}

          <span class="card-errors"></span>
          <div class="row">
            <div class="col-md-6">
              <label>Número de tarjeta</label>
            </div>
          </div>
          <div class="row form-section">
            <div class="col-md-6">
              <input type="text" data-conekta="card[number]">
            </div>
            <div class="col-md-6">
              <img src="http://payments.intuit.com/payments/landing_pages/LB/default.jsp?c=VMA&l=H&s=2&b=FFFFFF">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <label>Fecha de expiración</label>
            </div>
            <div class="col-xs-3">
              <label>CVC</label>
            </div>
          </div>
          <div class="row form-section">
            <div class="col-xs-3">
              <input type="text" data-conekta="card[exp_month]" placeholder="MM" maxlength=2>
            </div>
            <div class="col-xs-3">
              <input type="text" data-conekta="card[exp_year]" placeholder="YYYY" maxlength="4">
            </div>
            <div class="col-xs-3">
              <input type="text" data-conekta="card[cvc]">
            </div>
          </div>
          <div class="row form-section">
            <div class="col-xs-6">
              <label for="name">Nombre</label>
              <input type="text" name="name" data-conekta="card[name]">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <label>Fecha de nacimiento</label>
            </div>
          </div>
          <div class="row form-section">
            <div class="col-xs-3">
              <input type="text" placeholder="DD" maxlength=2>
            </div>
            <div class="col-xs-3">
              <input type="text" placeholder="MM" maxlength="2">
            </div>
            <div class="col-xs-3">
              <input type="text" placeholder="YYYY" maxlength="4">
            </div>
          </div>
          <div class="row form-section">
            <div class="col-xs-6">
              <label for="email">E-mail</label>
              <input type="email" name="email">
            </div>
            <div class="col-xs-6">
              <label for="phone">Teléfono</label>
              <input type="tel" name="phone">
            </div>
          </div>
          
          <button class="pay-button" type="submit">Pagar</button>
        </form>
        </div>
    </div>
  </div>
</div>

<script>
  var price = {{experience.price}};
</script>

<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
<script type="text/javascript" src="{% static 'app/javascripts/util.js' %}"></script>
<script type="text/javascript" src="{% static 'app/javascripts/payment.js' %}"></script>
{% endblock %}
