{% extends "app/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'app/stylesheets/payment.css' %}" />
{% endblock %}

{% block main_content %}
<div class="container main">
  <div class="row">
    <div class="col-md-7">
      <h1 class="title">Pago</h1>

      <form action="{% url 'process_payment' experience.id %}" method="POST" id="card-form">
        {% csrf_token %}

        <span class="card-errors"></span>

        <div>
          <label for="card">Número de tarjeta</label>
          <input type="text" name="card">
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label>Fecha de expiración</label>
            <input type="text" name="month">
          </div>
          <div class="col-xs-4">
            <input type="text" name="year">
          </div>
          <div class="col-xs-4">
            <label for="cvc">CVC</label>
            <input type="text" name="cvc">
          </div>
        </div>
        <div>
          <label for="name">Nombre</label>
          <input type="text" name="name">
        </div>
        <div class="row">
          <div class="col-xs-6">
            <label for="email">E-mail</label>
            <input type="email" name="email">
          </div>
          <div class="col-xs-6">
            <label for="phone">Teléfono</label>
            <input type="tel" name="phone">
          </div>
        </div>
        
        <button type="submit">Pagar</button>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>

<script type="text/javascript">
  Conekta.setPublishableKey('key_LyWdGMc3hsbMwMzV1Uqytag');

  $(function () {
    $("#card-form").submit(function(event) {
      var $form = $(this);

      // Previene hacer submit más de una vez
      $form.find("button").prop("disabled", true);
      Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);

      // Previene que la información de la forma sea enviada al servidor
      return false;
    });
  });

  var conektaSuccessResponseHandler = function(token) {
    var $form = $("#card-form");
  
    /* Inserta el token_id en la forma para que se envíe al servidor */
    $form.append($("<input type='hidden' name='conektaTokenId'>").val(token.id));
  
    /* and submit */
    $form.get(0).submit();
  };

  var conektaErrorResponseHandler = function(response) {
    var $form = $("#card-form");
  
    /* Muestra los errores en la forma */
    $form.find(".card-errors").text(response.message);
    $form.find("button").prop("disabled", false);
  };
</script>
{% endblock %}
