{% extends "app/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/stylesheets/payment-confirmation.css' %}" / >
{% endblock %}

{% block main_content %}
  <div class="container general">
    {% if charge.status == "paid" %}
      <h1 class="title">!Tu pago ha sido procesado exitosamente!</h1>
      <div class="subheader">Recibirás un correo de confirmación a la dirección {{email}}</div>
    {% else %}
       <h1 class="title">Ha habido un problema con tu pago</h1>
      <div class="subheader">Por favor comunícate con nosotros</div>     
    {% endif %}

    <div class="doubts">¿Dudas?</div>
    <div class="subheader">333 359 7080</div>
    <div class="email subheader">contact@goout.mx</div>
  </div>

  {% if charge.status == "paid" %}
    <div class="container payment-info">
      <h1 class="title">Siguientes pasos</h1>
      <ul>
        <li>1. Tu boleto incluye un código de reservación e información de la experiencia</li>
        <li>2. Muestra este boleto y el código de reservación al momento de realizar la experiencia</li>
        <li>3. Si tienes alguna duda, ponte en contacto con nosotros</li>
      </ul>
    </div>
  {% endif %}
{% endblock %}
