{% extends "app/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'app/stylesheets/team-building.css' %}" />
{% endblock %}

{% block main_content %}
<div class="hero">
  <div class="hero-content">
    <h1 class="hero-header header-full">Recibe una consultoría personalizada gratis</h1>
    <h1 class="hero-header header-mobile">Consultoría gratis</h1>
    <button class="call-to-action">Consultar</button>
  </div>
  <div class="hero-link fill"></div>
</div>

<div class="container why">
  <h2 class="section-header">Expertos de Team Building en Guadalajara</h2>

  <div class="row">
    <div class="col-md-6 section-element">
      <p class="why-header">El recurso humano es invaluable</p>
      <p class="why-content">Los recursos humanos son el factor más importante. El equipo de GoOut siempre prueba las experiencias que ofrecemos, y hacerlas juntos ha mejorado nuestra relación y eficiencia. Por eso, queremos dar la oportunidad a cualquier empresa de invertir en un día valioso de Team Building.</p>
    </div>

    <div class="col-md-6 section-element">
      <p class="why-header">Ofrecemos paquetes personalizados</p>
      <p class="why-content">Podemos realizar cualquier cambio, idea o sugerencia según tus preferencias. GoOut ofrece un servicio totalmente personalizado. Queremos conocer tus necesidades específicas para proponer el paquete de Team Building más conveniente. <span class="banner-link cta-text">¡Agenda tu cita!</span></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 section-element">
      <p class="why-header">Nosotros nos encargamos de todo</p>
      <p class="why-content">Como empresarios, entendemos tus necesidades. Incluímos todo en el paquete, para hacer más fácil la organización de tu día de Team Building. Además, ofrecemos servicios adicionales sin costo. <span class="banner-link cta-text">Sólo dinos lo que necesitas</span>.</p>
    </div>

    <div class="col-md-6 section-element">
      <p class="why-header">Eventos para empresas</p>
      <p class="why-content">GoOut ofrece más de 25 experiencias diseñadas para cualquier evento: metas cumplidas, cumpleaños, nuevas contrataciones, etc. El objetivo es crear memorias que tu equipo podrá compartir por siempre. <span class="banner-link cta-text">¡Obtén tu consultoría ahora!</span></p>
    </div>
  </div>
</div>

<div class="experiences-container">
  <div class="container experiences">
    <h2 class="section-header">Experiencias</h2>
    <h3 class="experiences-subheader">Team Building</h3>
    <div class="row">
      <div class="col-md-3 experience-col section-element">
        <div class="experience-image-container">
          <img class="experience-image" src="{% static 'app/images/tb/bote.png' %}">
        </div>
        <div class="experience-description">
          <p class="experience-name">Construcción de Bote</p>
        </div>
      </div>
      <div class="col-md-3 experience-col section-element">
        <div class="experience-image-container">
          <img class="experience-image" src="{% static 'app/images/tb/telaraña.png' %}">
        </div>
        <div class="experience-description">
          <p class="experience-name">La Telaraña</p>
        </div>
      </div>
      <div class="col-md-3 experience-col section-element">
        <div class="experience-image-container">
          <img class="experience-image" src="{% static 'app/images/tb/pie.png' %}">
        </div>
        <div class="experience-description">
          <p class="experience-name">Pie Grande</p>
        </div>
      </div>
      <div class="col-md-3 experience-col section-element">
        <div class="experience-image-container">
          <img class="experience-image" src="{% static 'app/images/tb/hilo.png' %}">
        </div>
        <div class="experience-description">
          <p class="experience-name">Hilo Ciego</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 experience-col section-element">
        <div class="experience-image-container">
          <img class="experience-image" src="{% static 'app/images/tb/dedo.png' %}">
        </div>
        <div class="experience-description">
          <p class="experience-name">Dedo del Gigante</p>
        </div>
      </div>
      <div class="col-md-3 experience-col section-element">
        <div class="experience-image-container">
          <img class="experience-image" src="{% static 'app/images/tb/marca.png' %}">
        </div>
        <div class="experience-description">
          <p class="experience-name">Todos sobre la Marca</p>
        </div>
      </div>
      <div class="col-md-3 experience-col section-element">
        <div class="experience-image-container">
          <img class="experience-image" src="{% static 'app/images/tb/muro.png' %}">
        </div>
        <div class="experience-description">
          <p class="experience-name">Saltando el Muro</p>
        </div>
      </div>
      <div class="col-md-3 experience-col section-element">
        <div class="experience-image-container">
          <img class="experience-image" src="{% static 'app/images/tb/equilibrio.png' %}">
        </div>
        <div class="experience-description">
          <p class="experience-name">Barra de Equilibrio</p>
        </div>
      </div>
    </div>
  
    <h3 class="experiences-subheader">Eventos en Grupo</h3>
    <div class="row">
      <div class="col-md-3 experience-col section-element">
        <div class="experience-image-container">
          <img class="experience-image" src="{% static 'app/images/experiences/Gotcha_y_circuito_de_tirolesa/0.jpg' %}">
        </div>
        <div class="experience-description">
          <p class="experience-name">Gotcha</p>
        </div>
      </div>
      <div class="col-md-3 experience-col section-element">
        <div class="experience-image-container">
          <img class="experience-image" src="{% static 'app/images/experiences/Circuito_de_tirolesa/0.jpg' %}">
        </div>
        <div class="experience-description">
          <p class="experience-name">Circuito de Tirolesas</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="customer-container">
  <div class="container customers">
    <h2 class="section-header">Clientes</h2>
    <div class="row section-row">
      <div class="col-md-2"><div class="customer"></div></div>
      <div class="col-md-2"><div class="customer"></div></div>
      <div class="col-md-2"><div class="customer"></div></div>
      <div class="col-md-2"><div class="customer"></div></div>
      <div class="col-md-2"><div class="customer"></div></div>
      <div class="col-md-2"><div class="customer"></div></div>
    </div>
  </div>
</div> -->

<div id="contact" class="container contact">
  <h2 class="section-header contact-header">Consultoría Gratis</h2>
  <h3 class="contact-phone">333 359 7080</h3>
  <p class="contact-copy">Podemos realizar cualquier cambio, idea o sugerencia según tus preferencias.</p>

  <form class="contact-form" action="{% url 'consultancy' %}" method="POST" onsubmit="return validateForm(this);">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="form-section">
          <label for="name">Nombre *</label>
          <input type="text" id="name" name="name">
        </div>
        <div class="form-section">
          <label for="email">E-mail *</label>
          <input type="email" id="email" name="email">
        </div>
        <div class="form-section">
          <label for="phone">Teléfono *</label>
          <input type="text" id="phone" name="phone">
        </div>
        <div class="form-section">
          <label for="participants"># Personas</label>
          <input type="text" id="participants" name="participants">
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-section">
          <label for="date">Fecha</label>
          <input type="text" id="date" name="date">
        </div>
        <div class="form-section">
          <label for="comments">Comentarios</label>
          <textarea id="comments" name="comments" rows="5"></textarea>
        </div>
      </div>
    </div>
    <button type="submit" class="call-to-action">Enviar</button>   
  </form>
</div>

<script type="text/javascript" src="{% static 'app/javascripts/team-building.js' %}"></script>
{% endblock %}
