{% extends "app/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'app/stylesheets/terms.css' %}" />
{% endblock %}

{% block main_content %}
<div class="container cupon">
  <h1 class="title">CUPÓN</h1>
  <p>La compra de un cupón podrá realizarse mediante la adquisición de un cupón Electrónico en goout.mx. Este último incluirá un número de Cupón válido por un valor en pesos específico. Con la compra de un Cupón el Cliente habrá revisado y aceptado los presentes Términos y Condiciones de Venta y Utilización. Los Cupóns, son reembolsables y/o intercambiables por transferencia bancaria en casos limitados referente a la policia de cancelacion.</p>
</div>

<div class="container">
  <h1 class="title">CLASIFICACIÓN DE CUPONES</h1>
  <p>1. Cupón Electrónico: Una vez confirmado el pago, el Cliente o Beneficiario Final recibirán en su cuenta de correo un Cupón electrónico de forma inmediata. Este consiste en un pequeño volante que incluye el número de Cupón correspondiente a la actividad comprada, una breve descripción de la actividad, datos de contacto del Proveedor que organiza, entre otras informaciones prácticas para uso del Beneficiario Final.</p>
  <p>Todos los elementos anteriormente mencionados incluyen toda la información legal destinada a los clientes. La compra de un Cupón Electrónico puede componerse de un servicio (Actividad y/o Experiencia) seleccionado entre diferentes categorías temáticas, por ejemplo: Aventura, Bienestar y Cultura. Goout.mx se reserva el derecho de ampliar la lista de las Experiencias o interrumpir su difusión a su elección en cualquier momento.</p>
  <p>Proveedor: Designa a la persona física, moral o establecimiento seleccionado por Goout.mx que proporciona el Servicio al Beneficiario Final.</p>
  <p>Beneficiario Final: Designa la persona usuaria de la Experiencia.</p>
  <p>Experiencia y/o Actividad: Designa el servicio proporcionado por el Proveedor al Beneficiario Final a reserva de la disponibilidad del Prestador de servicios en las fechas elegidas por el Beneficiario Final.</p>
  <p>Cliente: Designa la persona que compra una Experiencia, quedando entendido que el Cliente puede ser o no ser el Beneficiario Final de la Experiencia, dependerá de que haga uso personal del la Experiencia o de que la regale.</p>
  <p>A continuación se detallan los “Términos y Condiciones de Venta y Utilización”, así como las condiciones de uso del Sitio de Internet y de venta a través del mismo. Los presentes Términos y Condiciones Generales de Venta y Utilización son válidos durante el año 2015. Cancelan y sustituyen todas las versiones previas a estas condiciones.</p>
  <p>Las presentes Condiciones Generales de Venta se aplican solamente para la adquisición de Cupóns a través del Sitio de Internet www.goout.mx</p>
  <p>Goout.mx se reserva el derecho a realizar cambios sobre los presentes Términos y Condiciones Generales de Venta y Utilización en cualquier momento, sin previo aviso, quedando entendido que tales modificaciones serán inaplicables a las compras y reservaciones previamente aceptados y confirmados por Goout.mx.</p>
</div>

<div class="container">
  <h1 class="title">PROCESO PARA ADQUIRIR EXPERIENCIAS</h1>
  <p>La compra de Experiencias puede realizarse por Internet en el Sitio: http://www.goout.mx</p>
  <p>La compra de Experiencias vía el sitio de Internet implica, en particular, las siguientes etapas:</p>
  <p>La compra de Experiencias vía el sitio de Internet implica, en particular, las siguientes etapas:</p>
  <p>2. Confirmar: A partir de esta selección, un recapitulativo le será presentado enumerando la o las Experiencias seleccionadas y el precio total de su compra. Este le permitirá comprobar el detalle de su compra y así realizar las modificaciones necesarias, antes del registro definitivo de su pago.</p>
  <p>3. Pago: El pago de un Cupón puede realizarse mediante el uso del Método de Pago elegido: Tarjeta de Crédito vía PayPal. Una vez realizado el pago correspondiente, el Cupón adquirido por el Cliente será enviado de forma inmediata vía correo electrónico. El Cupón será válido por tres meses y será sujeto a existencia a partir de la fecha de confirmación del pago. Es mandatario indicar al Proveedor el código de reservación del Cupón antes de de reservar la Experiencia. La misma podrá llevarse a cabo únicamente presentando el número de Cupón junto con una identificación oficial el día del evento.</p>
</div>

<div class="container">
  <h1 class="title">CÓMO UTILIZAR UN CUPÓN Y SUS RESPONSABILIDADES</h1>
  <p>Si Usted no es el Beneficiario Final del Cupón y por consecuencia de la Experiencia adquirida, le invitamos a informar al Beneficiario sobre las condiciones descritas a continuación;</p>
  <p>Reservaciones: La Experiencia contenida en cada Cupón deberá reservarse con el Proveedor con anticipación. Toda reservación y uso de Experiencias deberá realizarse previo a la fecha de expiración indicada en el Cupón. No es posible asistir a una Experiencia Goout.mx sin previa reservación. Una vez agendado el evento, el Beneficiario Final podrá presentarse en el lugar del evento junto con el Cupón correspondiente y una identificación oficial;</p>
  <p>* Realizada una reservación, el Cupón entregado al Beneficiario Final es válido solamente considerando que:</p>
  <p>- Cupón Electrónico: El día del evento, se debe presentar al Proveedor el Cupón Electrónico impreso en papel junto con una identificación oficial. Si la zona donde se indica el Número de Cupón no es legible, el Cupón Electrónico no será válido por lo que será necesaria su reimpresión.</p>
  <p>* El contenido y detalles de la Experiencia son del conocimiento del Beneficiario Final en el Cupón recibido (resumen) y en el sitio Web a detalle;</p>
  <p>* El Beneficiario esta informado que los Cupóns no siempre incluyen el transporte hasta el lugar de entrega de la Experiencias a ser impartida por el Proveedor, lo anterior salvo acuerdo directo con el Proveedor;</p>
  <p>* En caso de no utilización, de pérdida, robo o destrucción del Cupón, el Beneficiario no podrá reclamar ningún reembolso y/o compensación de cualquier tipo;</p>
  <p>* Debido al período de validez de un Cupón, el contenido de las Experiencias puede ser redefinido por los Proveedores después de la publicación de la Experiencia, sin que la responsabilidad de Goout.mx pueda comprometerse. Dado lo anterior, en la reservación de una Experiencia, le corresponde al Beneficiario Final comprobar el contenido preciso de la Experiencia propuesta. Goout.mx no podría considerarse como responsable de la indisponibilidad de la Experiencia seleccionada en la fecha deseada;</p>
  <p>* La Experiencia y su desarrollo están regulados por las condiciones del Proveedor seleccionado, considerando desde, la anulación o modificación de la reservación, límite de edad, o también la condición física de los Beneficiarios Finales, y las disponibilidades del servicio del Proveedor. Es responsabilidad del Beneficiario Final informarse con el Proveedor elegido sobre la existencia de estas posibles condiciones específicas. Toda negación de parte de un Proveedor de proporcionar la Experiencia por las razones anteriormente citadas o, más ampliamente, por incumplimiento de sus condiciones específicas no podría ser considerado como una discriminación ni implicar cualquier responsabilidad por parte de Goout.mx;</p>
  <p>* Goout.mx, siendo intermediario en aportación de negocios entre el Cliente y el Proveedor, no puede ver su responsabilidad comprometida en caso de incumplimiento parcial o total de la Experiencia. Toda responsabilidad incumbe a este respecto al Proveedor. Se hace del conocimiento del Cliente que las condiciones específicas en las que brinda el servicio el Proveedor serán las aplicables;</p>
  <p>* Se recomienda al Beneficiario Final comprobar que él mismo se beneficia de una cobertura de seguro suficiente, en particular, para la práctica de algunas actividades deportivas llamadas "de riesgo". Se recuerda al Beneficiario que la entrega de las Experiencias en buenas condiciones de seguridad no lo exime de observar las normas de prudencia elementales para las actividades deportivas, en particular, aquéllas llamadas "de riesgo". El Beneficiario Final acepta los riesgos inherentes de estas actividades;</p>
  <p>* Goout.mx está en libertad de poner fin a sus relaciones con uno o más Proveedores durante el período de validez de la Experiencia, con el fin de garantizar, en particular, un nivel de calidad óptimo de las Experiencias. El Beneficiario deberá asegurarse que los Proveedores presentados en sitio Web se mantiene, como es de Goout.mx en el momento de la elección de la Experiencia. En caso contrario, Goout.mx hará su mejor esfuerzo para proponer al Beneficiario Final una actividad equivalente a la que fue inicialmente elegida. En esas condiciones, y tomando en cuenta la interesante variedad de servicios ofrecidos en el sitio Web, el Beneficiario Final o el Cliente no podrá pretender a ningún reembolso ni ninguna indemnización de cualquier género.</p>
</div>

<div class="container">
  <h1 class="title">PRECIO Y CONDICIONES DE PAGO</h1>
  <p>*Precio</p>
  <p>Los precios de las Experiencias indicadas en el Sitio de Internet, son los que están en vigor el día del pedido en pesos mexicanos.</p>
  <p>*Condiciones de Pago</p>
  <p>Podrá usted realizar el pago de un Cupón mediante el uso del Método de Pago elegido: Tarjeta de Crédito vía PayPal. La totalidad del importe del pedido se cargará a la cuenta de la tarjeta bancaria el día del pedido. Goout.mx se reserva el derecho de suspender cualquier trámite del pedido en caso de rechazo de autorización de pago por parte de su banco. El Sitio y sistema PayPal le permite transmitir sus datos bancarios de manera confidencial y segura, cuando realiza su pedido (transmisión segura de datos por cifrado SSL).</p>
</div>

<div class="container">
  <h1 class="title">ENTREGA</h1>
  <p>* Entrega del Cupón vía Correo Electrónico</p>
  <p>Goout.mx no es responsable por la pérdida de un Cupón que haya sido entregado vía correo electrónico. Esta pérdida podría generarse debido a una saturación de correo del destinatario, por sistemas de seguridad como filtros y Firewalls, o debido a que el Cliente haya proporcionado una cuenta de correo incorrecta. En caso de que el Beneficiario Final no haya recibido el Cupón, por favor comunicarse de forma inmediata al teléfono 33 1255 2106 solicitando el reenvío del Cupón a una cuenta de correo alterna.</p>
</div>

<div class="container">
  <h1 class="title">CANJE DEL CUPÓN</h1>
  <p>Los Cupóns funcionan como comprobante de pago dando derecho al Cliente o Beneficiario Final de hacer uso de una Experiencia. A cada Cupón se asigna un Código de Confirmación (Confirmation Code) de Cupón el cual deberá presentarse ante el Proveedor y/o Goout.mx en caso de contacto. Los Clientes o Beneficiarios Finales deberán presentar el Cupón o el Código de Confirmación (Confirmation Code) del Cupón al Proveedor tanto al momento de realizar su reservación como el día del evento.</p>
</div>

<div class="container">
  <h1 class="title">DISPONIBILIDAD, RESERVACIONES Y CANCELACIONES</h1>
  <p>Todas las Experiencias están sujetas a disponibilidad y deben llevarse a cabo antes de la fecha de expiración. La fecha de expiración es 3 (tres) meses depués la fecha de compra indicada en el cupón. Para vivir una experiencia, Clientes y/ o Beneficiarios Finales deben realizar su reservación con anticipación.</p>
  <p>Una vez hecha una reservación la experiencia no podrá ser cancelada ni intercambiada por ninguna otra, esto a menos que la experiencia indique en su descripción que acepta cancelaciones con 48 horas de anticipación (experiencia no cancelada se tomará como vivida). Las políticas para reservaciones sobre cada Experiencia se detallan en la descripción de cada una de las actividades contenidas en el sitio Web. Toda reservación previa es sujeta a disponibilidad.</p>
  <p>En caso de no haber realizado una reservación, la experiencia puede ser intercambiada cubriendo el costo adicional, esto en caso de existir una diferencia en precio. Al contar con una reservación se recomienda llegar con un minimo de 10 minutos de anticipación al evento.</p>
</div>

<div class="container">
  <h1 class="title">VALIDEZ DEL CUPÓN</h1>
  <p>* Validez</p>
  <p>Todos los Cupóns son válidos por tres meses a partir de la fecha de confirmación de la compra. La fecha de compra se indica en cada uno de los Cupóns. Las Experiencias deberán reservarse y utilizarse antes de la fecha exacta de expiración. El Cupón quedará inactivo y sin valor alguno una vez llegada la fecha de vencimiento.. A menos que se indique lo contrario, cada Cupón será válido para una persona.</p>
</div>

<div class="container">
  <h1 class="title">CLIMA</h1>
  <p>Algunas de las Experiencias que nuestros Proveedores ofrecen dependen del clima. Si la Experiencia es cancelada por condiciones climatológicas, el Cliente o Beneficiario Final podrá reagendarla sin costo adicional. Considerar que la nueva reserva no deberá agendarse en una fecha anterior a la fecha de vencimiento indicada en el Cupón original. En este caso, la fecha de expiracion se extende por trese meses. La Experiencia reagendada permanecerá sujeta a las condiciones climáticas. Cada Proveedor se rige por sus propias políticas climatológicas por lo que les recomendamos revisarlas antes de confirmar su reservación. En caso de cancelación por las condiciones del Clima, la Experiencia no podrá ser intercambiada por otra.</p>
</div>

<div class="container">
  <h1 class="title">DESCRIPCION E IMÁGENES DE EXPERIENCIAS</h1>
  <p>La información contenida en los Cupóns sobre cada una de las Experiencias está actualizada al momento de su compra. Sin embargo, el contenido y/o formato de las Experiencias puede variar durante la Vigencia indicada en el Cupón. Detalles actualizados sobre cada Experiencia están disponibles en http://www.goout.mx . Las fotografías utilizadas en nuestro sitio Web y en nuestro material impreso han sido provistas por nuestros Proveedores y o nuestro equipo de diseño, estas deberán utilizarse únicamente como una indicación.</p>
</div>

<div class="container">
  <h1 class="title">UBICACION Y DURACION DE LAS EXPERIENCIA</h1>
  <p>* Ubicación:</p>
  <p>La variedad de Experiencias que Goout.mx ofrece incluye ubicaciones increíbles para llevar a cabo Experiencias inolvidables. Continuamente estamos agregando nuevas ubicaciones, sin embargo en ocasiones resulta necesario cancelar algunas locaciones por razones fuera de nuestro control. Si la ubicación seleccionada fuera cancelada, el Cliente o Beneficiario Final recibirán alternativas en caso de ser posible, sin embargo es importante considerar que es probable que esto sea en otra ubicación y/o con otro proveedor. Cada Proveedor cuenta con sus propios términos y condiciones referentes a la ubicación de las Experiencias. Esto significa que al comprar una Experiencia aceptas dichos términos y condiciones.</p>
  <p>* Duración:</p>
  <p>La duración de cada Experiencia es aproximada, es provista por los Proveedores únicamente como indicación del tiempo que permanecerás en la ubicación asignada. Es posible que existan tiempos de espera. Por favor contacta con anticipación al Proveedor y solicita un itinerario a detalle.</p>
</div>

<div class="container">
  <h1 class="title">PROVEEDORES</h1>
  <p>Goout.mx, siendo intermediario de negocios entre el Cliente y el Proveedor, no puede ver su responsabilidad comprometida en caso de incumplimiento parcial o total de la Experiencia. Toda responsabilidad incumbe a este respecto al Proveedor. Se hace del conocimiento del Cliente que las condiciones específicas en las que brinda el servicio el Proveedor serán las aplicables.</p>
  <p>Goout.mx no provee ningún tipo de seguro médico y/o de vida, personal o contra daños y/o perjuicios a terceros. El Cliente o Beneficiario Final deberá consultar las condiciones y términos del Proveedor sobre este aspecto.</p>
</div>

<div class="container">
  <h1 class="title">SERVICIO AL CLIENTE-RECLAMACIÓN</h1>
  <p>Cualquier solicitud de información respecto a la compra, intercambio y funcionamiento de las Experiencias Goout.mx, deberá ser dirigida a Goout.mx vía correo electrónico: contact@goout.mx o al teléfono 33 1255 2106</p>
</div>

<div class="container">
  <h1 class="title">OTROS TÉRMINOS Y CONDICIONES</h1>
  <p>El hecho de que Goout.mx no haga valer en un momento dado una de las cláusulas de las presentes Condiciones Generales de Venta no puede interpretarse como renuncia, por parte de Goout.mx, a prevalerse posteriormente de cualquiera de dichas condiciones.</p>
  <p>En caso de que alguna de las presentes disposiciones fuera declarada nula o no escrita, no se verá afectada la validez de las otras disposiciones de Los Términos y Condiciones Generales de Venta y Utilización.</p>
</div>
{% endblock %}
